{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>7 Epic Music Festivals You Didn’t Know Existed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/festivals.css' %}">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="{% static 'img/down-favicon.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-57-precomposed.png' %}">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://bnc.lt/l/6_AeOvU_SJ">
          <img id="brand" alt="Brand" src="{% static 'img/down-logo.png' %}">
        </a>
      </div>
    </div>
  </nav>
  <style>
    #masthead {
      background-image: url({% static 'img/festival.jpg' %});
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }
  </style>
  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>7 Epic Music Festivals You Didn’t Know Existed</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>These aren’t your ordinary festivals. You won’t find Ultra, EDC, Coachella or even Tomorrow Land on this list. We picked 7 of the lesser known festivals based on their epic venues, unique themes and bizarre traditions. Enjoy.</p>
        <h3>1. Outlook - Pula, Croatia</h3>
        <img src="{% static 'img/outlook-festival.jpg' %}" alt="Outlook" id="outlook" class="content-image">
        <p>Hosted in a 2000-year old Roman Amphitheatre and an abandoned 19th century fortress, Outlook definitely takes the crown for most interesting venue. Stages have been set up in tunnels and even in one of the fortresses' abandoned moats. The festivities spill off onto the nearby beaches of the Adriatic Sea and boat parties are frequent.</p> 
        <p>The line up is a blend of underground sounds including house, techno, dubstep, reggae and hip hop. The 2015 highlights are Jurassic 5, Kate Tempest, Loefah and Roni Size Reprazent.</p>
        <h3>2. Fuji Rock - Niigata Prefecture, Japan</h3>
        <img src="{% static 'img/fuji-rock-festival.jpg' %}" alt="Fuji Rock" id="fuji-rock" class="content-image">
        <p>Hosted at a ski resort at the end of the world's longest gondola lift, Fuji is not a festival to miss. With over 100,000 attendees, and over 200 artists from all around the world, it is Japan’s biggest festival. Navigating between stages can take you on hikes through the forest, crossing sparkling streams and looking out over breath taking views. The night before the festival there is a free, open invite party featuring traditional Japanese dance, food, prizes and fireworks.</p>
        <p>Over the years, the rock star line up has gotten too big to list. A few notables include Foo Fighters, Muse, Deadmau5, Red Hot Chilli Peppers and Radiohead.</p>
        <h3>3. Bahidora - Cuautla, Mexico</h3>
        <img src="{% static 'img/bahidora-festival.jpg' %}" alt="Bahidora" id="bahidora" class="content-image">
        <p>Bahidora is a 24 hour party of packed full of extracurriculars. Show up to a venue surrounded by palm trees on the bank of a sparkling blue river and you will be greeted by beautiful people bobbing in bright bikinis and feather headdresses, or Aztec-print board shorts and thick-rimmed glasses. Bahidora is often described as a carnival disguised as a music festival. You can learn circus tricks from magicians, kayak in the river or simply float around with beer in hand.</p>
        <p>The music is a mix of indie, electronica and hip hop. Past line ups have included: Coco Rosie, Modeselektor and De La Soul.</p>
        <h3>4. Roskilde - Roskilde, Denmark</h3>
        <img src="{% static 'img/roskilde-festival.jpg' %}" alt="Roskilde" id="roskilde" class="content-image">
        <p>Roskilde is a festival you can walk away from feeling good about yourself— not only from having an epic time, but from doing good in the process. All profits from Roskilde go to support music, culture and humanitarian organisations. And leftover food is donated to homeless shelters. On top of the good feels, Roskilde attracts a killer line up, with 2015 alone boasting Paul McCartney, Disclosure, Florence + The Machine and Kendrick Lamar.</p> 
        <p>If doing good isn’t working for you, you can always get your debauchery on by participating in the Roskilde annual naked race. The winning male and female participants get free tickets to next year's festivities.</p>
        <h3>5. The Garden Festival - Tisno, Croatia</h3>
        <img src="{% static 'img/the-garden-festival-festival.jpg' %}" alt="The Garden Festival" id="the-garden-festival" class="content-image">
        <p>Boat parties seem to be a theme amongst Croatian music festivals, and The Garden Festival is no exception. In fact, The Garden Festival might take the Croatian Boat Party crown. This year's festivities include 20 officially sponsored boat parties, with many more un-official boat parties expected. The Garden Festival organizers love boats so much that they also recommend using a water taxi service to get back and forth between your accommodations and the main festival area. If you like boats, and I mean really like boats, you will never find a more perfect festival. Unfortunately, this year is the last year for The Garden Festival. But at least they are going out with a bang.</p>
        <h3>6. Benicàssim - Benicàssim, Spain</h3>
        <img src="{% static 'img/benicassim-festival.jpg' %}" alt="Benicàssim" id="benicassim" class="content-image">
        <p>Benicàssim is the festival for drunken insomniacs. The party doesn’t start until late in the evening. And, in traditional Spaniard style, the party doesn’t stop until sunrise at around 8am. From there, festival goers spend the day sleeping off their hangovers on the beaches overlooking the Mediterranean. Once the sun begins to set, everyone dusts off all of the sand, gets up and starts the party all over again. At the end of the weekend, everyone stumbles away from the festival in need of a detox.</p> 
        <p>O yeah, and during all of that partying some music is played by people like Franz Ferdinand, Arctic Monkeys, Oasis, David Guetta and Bob Dylan.</p>
        <h3>7. Secret Garden Party - Abbots Ripton, UK</h3>
        <img src="{% static 'img/secret-garden-party-festival.jpg' %}" alt="Secret Garden Party" id="secret-garden-party" class="content-image">
        <p>The Secret Garden Party is more of a magical adult playground for colorful ravers than a festival. Unlike other festivals, the installations here are meant to be climbed on and interacted with. There are DJs spinning records in treehouses, boat rides on the adjacent lake and a dedicated festival wide train service. Each year has a theme, and 2015 is “Childish Things”. So embrace your inner child, climb a tree, frolic in the lake, and maybe kill a couple beers while you are at it.</p>
        <div class="section-divider"></div>
        <div id="cta-wrapper">
          <h3>Get Down</h2>
          <p>Down is an app that makes it easier to rally your friends to go on epic adventures, like booking a flight and heading out to one of these festivals ;). If you enjoyed this list, you should <a href="https://bnc.lt/l/6_AeOvU_SJ">get Down for free on the iOS App Store here.</a></p>
          <div id="download-link">
            <a href="https://bnc.lt/l/6_AeOvU_SJ">
              <img src="{% static 'img/download-ios.png' %}" alt="Download on the App Store" id="download-img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
