{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="description" content="Ephemeral group chats for events.">
  <title>Down.</title>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

  <link href="{% static 'app/main.css' %}" rel="stylesheet">
  <script src="{% static 'app/bundle.js' %}"></script>
</head>
<body>
  <base href="/">
  <div id="ui-view" ui-view></div>
</body>
</html>
