Django==1.7.5
dj-database-url==0.3.0
django-filter==0.9.2
djangorestframework==3.0.5
eventlet==0.17.1
firebase-token-generator==2.0.0
https://github.com/mkolodny/dj-static/zipball/master
httpretty==0.8.7
ipython==2.4.1
jsonfield==1.0.3
gunicorn==19.2.1
mock==1.0.1
psycopg2==2.6
pytz==2014.10
requests==2.5.3
static3==0.5.1
