#login {
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  }
  #fb-login {
    color: #fff;
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
    margin-top: 15px;

    &:hover {
      background-color: darken(#4e69a2, 5%);
    }
  }
  .fa-facebook-square {
    margin-right: 5px;
  }
  .download-image {
    width: 153px;
    margin-top: 15px;
  }
}
