/* Bootstrap */

// Colors
$brand-primary: #6a38ab;
$link-color: darken(#428bca, 6.5%);

// Font
$font-family-sans-serif: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 700;

// Scaffolding
$body-bg: #fafafa;

// Navbar
$navbar-height: 77px;
$navbar-default-color: #fff;
$navbar-default-bg: $brand-primary;
$navbar-default-border: $brand-primary;
$navbar-border-radius: 0;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;

// Buttons
$btn-default-color: $brand-primary;
$btn-default-border: $brand-primary;

@import "sass/bootstrap-custom";

/* App-specific app-wide sass */

// Global
body {
  -webkit-font-smoothing: antialiased;
}
html,
body,
#ui-view {
  height: 100%;
}

// Navbar
.navbar-header {
  float: left;
}
.navbar-right {
  float: right !important;
}
.navbar-brand {
  font-size: 36px;
  font-family: 'Carter One', 'Helvetica Neue', sans-serif;
  margin-left: -15px;
}
@media (max-width: 767px) {
  .navbar-nav {
    & > li {
      & > a {
        padding-top: 15px;
      }
    }
  }
}
.current-user {
  font-weight: 700;
  cursor: default;
}

// Download buttons
.download-images {
  padding-top: 25px;
  text-align: center;
}
.download-image {
  height: 42px;
  margin: 5px;
}
@media (max-width: $screen-xs-max) {
  .download-images {
    margin-bottom: 160px;
  }
}

// Intl-Phone
@import "../node_modules/down-ionic/app/common/intl-phone/intlTelInput";

/* View styles */
@import "landing/landing";
@import "fellowship/fellowship";
