{% load static from staticfiles %}

{% verbatim %}
<div id="invitation" class="non-member-view">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Down.</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="current-user" href="#">{{invitation.currentUser.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div id="content">
          <img id="from-image"
               ng-src="{{invitation.fromUser.getImageUrl(100)}}">
          <h1 id="event-title">
            {{invitation.event.title}}
          </h1>
          <h2 id="suggested-by">
            Suggested by {{invitation.fromUser.name}}
          </h2>
          <div id="event-details"
               ng-if="invitation.event.datetime || invitation.event.place || invitation.event.comment">
            <div class="event-detail">
              <i class="fa fa-calendar-o"></i>
              <div>
                <div>{{invitation.event.datetime | date:'EEEE, MMM d'}}</div>
                <div>{{invitation.event.datetime | date:'shortTime' | lowercase}}</div>
              </div>
            </div>
            <div class="event-detail">
              <a href><i class="fa fa-map-marker"></i>{{invitation.event.place.name}}</a>
            </div>
            <div id="event-comment" class="event-detail">
              <i class="fa fa-comment-o"></i>{{invitation.event.comment}}
            </div>
          </div>
          <div id="respond-buttons">
            <button class="btn btn-default respond"
                    ng-disabled="invitation.wasAccepted()"
                    ng-click="invitation.acceptInvitation()">
              Down
            </button>
            <button class="btn btn-default respond"
                    ng-disabled="invitation.wasMaybed()"
                    ng-click="invitation.maybeInvitation()">
              Maybe
            </button>
            <button class="btn btn-default respond"
                    ng-disabled="invitation.wasDeclined()"
                    ng-click="invitation.declineInvitation()">
              Can't
            </button>
          </div>
          <p>Respond "Down" or "Maybe" to see who's down and join the group chat.</p>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="download-images">
          <a href="http://im.xn--sp8h.ws/m/7d6pphEKSm">
            {% endverbatim %}
            <img class="download-image"
                 src="{% static 'download-ios.png' %}"
                 alt="Download on the App Store">
            {% verbatim %}
          </a>
          <a href="http://im.xn--sp8h.ws/m/Yig3riBKSm">
            {% endverbatim %}
            <img class="download-image"
                 src="{% static 'download-android.png' %}"
                 alt="Get it on Google Play">
            {% verbatim %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
