{% load staticfiles %}

{% verbatim %}
<div id="fellowship">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
        <div id="intro">
          <h1>The Rallytap Fellowship</h1>
          <p id="tagline">Learn how to market an app.</p>
          {% endverbatim %}
          <img src="{% static 'client/images/market-all-the-things.png' %}"
               alt="Market all the things"
               id="all-the-things">
          {% verbatim %}
          <div ng-if="fellowship.success" 
               class="alert alert-success top-alert" 
               role="alert">
            Your application was submitted successfully!
          </div>
          <div ng-if="fellowship.error"
               class="alert alert-danger top-alert"
               role="alert">
            Sorry, an error occurred!
          </div>
          <form novalidate
                ng-if="!fellowship.success"
                name="form1"
                class="form-inline" 
                id="form-1">
            <div class="form-group form-group-lg">
              <label class="sr-only" for="username-1">Rallytap Username</label>
              <input ng-model="fellowship.username"
                     required
                     class="form-control"
                     id="username-1"
                     placeholder="Rallytap Username">
            </div>
            <div class="form-group form-group-lg">
              <label class="sr-only" for="school-1">School</label>
              <input ng-model="fellowship.school"
                     required
                     class="form-control"
                     id="school-1"
                     placeholder="School">
            </div>
            <button ng-click="fellowship.submit(form1)" 
                    type="submit" 
                    class="btn btn-default btn-lg">
              Apply
            </button>
          </form>
        </div>
        <hr/>
        <h2>High School Students</h2>
        <p>Learn how to market digital products from a lecturer at Purdue University who led a user acquisition team at a $70M company. You will learn cutting-edge digital marketing strategies. And you will get to apply what you learn by marketing a real app.</p>
        <hr/>
        <h2>Format</h2>
        <p>The fellowship will consist of three 2-week cycles. Each cycle will include: attending an interactive, online lecture to learn new skills, developing a marketing plan, getting feedback from the instructor, trying out your plan, and collecting data.</p>
        <ul>
          <li>Starts November 18th, 2015</li>
          <li>Lasts 6 weeks</li>
          <li>1 day per week</li>
          <li>Cost: Free</li>
        </ul>
        <hr/>
        <h2>What You Will Learn</h2>
        <ul>
          <li>User Acquisition
            <ul>
              <li>Marketing framework</li>
              <li>Creating KPIs</li>
              <li>Campaign tracking</li>
            </ul>
          </li>
          <li>User Experience
            <ul>
              <li>User Studies</li>
              <li>Quantitative Feedback</li>
            </ul>
          </li>
          <li>Engagement
            <ul>
              <li>Using data to understand behavior</li>
              <li>Identifying drop-off</li>
              <li>Re-engagment</li>
            </ul>
          </li>
        </ul>
        <hr/>
        <h2>How to Apply</h2>
        <p>To apply, download the app <a href="/" target="_blank">Rallytap</a>, and enter your username and school below. On November 18th, 2015, we will select students to be part of the fellowship. Fellows will be selected based on how many friends they add on Rallytap, and how many of their friends download the app. Feel free to send any questions you have about the fellowship to <a href="mailto:contact@rallytap.com" target="_blank">contact@rallytap.com</a>.</p>
        <div ng-if="fellowship.success"
             class="alert alert-success bottom-alert"
             role="alert">
          Your application was submitted successfully!
        </div>
        <div ng-if="fellowship.error"
             class="alert alert-danger bottom-alert"
             role="alert">
          Sorry, an error occurred!
        </div>
        <form novalidate
              ng-if="!fellowship.success"
              name="form2" 
              class="form-inline" 
              id="form-2">
          <div class="form-group form-group-lg">
            <label class="sr-only" for="username-2">Rallytap Username</label>
            <input ng-model="fellowship.username"
                   required
                   class="form-control"
                   id="username-2"
                   placeholder="Rallytap Username">
          </div>
          <div class="form-group form-group-lg">
            <label class="sr-only" for="school-2">School</label>
            <input ng-model="fellowship.school"
                   required
                   class="form-control"
                   id="school-2"
                   placeholder="School">
          </div>
          <button ng-click="fellowship.submit(form2)" 
                  type="submit"
                  class="btn btn-default btn-lg">
            Apply
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
