#fellowship {
  font-size: 14px;

  #intro {
    text-align: center;
  }
  h1 {
    font-family: 'Carter One', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin-top: 0;
  }
  h2 {
    margin-top: 20px;
  }
  #tagline {
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 10px;
  }
  #all-the-things {
    padding-top: 30px;
  }
  #form-1 {
    padding-top: 50px;
  }
  button {
    background-color: #ed6700;
    border-color: #ed6700;
    color: #fff;

    &:hover,
    &:active {
      background-color: darken(#ed6700, 10%);
      border-color: darken(#ed6700, 10%);
    }
  }
  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a {
    color: #333;
  }
  #form-2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .alert {
    text-align: center;
  }
  .top-alert {
    margin-top: 50px;
  }
  .bottom-alert {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media(max-width: $screen-sm-min) {
  button {
    width: 100%;
  }
}
