/* Required for sticky footer */
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.footer,
.push {
  height: 70px;
}
/* End sticky footer CSS */

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
  color: #42bfc2;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1, h2 {
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}

img { max-width: 100%; }

::-moz-selection { background: #42bfc2; color: #fff; text-shadow: none; }
::selection { background: #42bfc2; color: #fff; text-shadow: none; }


/***** Top content *****/

.top-content {
  margin: 0 auto;
  text-align: left;
  color: #fff;
}

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .phone {
  text-align: center;
}

.top-content .text {
  padding-top: 100px;
}

.top-content .logo {
  padding-bottom: 40px;
}

.top-content .logo img {
  width: 207px;
  height: 74px;
  margin-left: 16px;
  vertical-align: top;
}

.top-content .description {
  padding: 40px 0 10px 0;
  font-size: 22px;
  line-height: 36px;
}

.top-content .top-button {
  padding-top: 40px;
}

.top-content .top-button .button-1 {
  margin-right: 20px;
}

#phone-form {
  padding-top: 25px;
}

#phone {
  height: 50px;
  padding: 6px 50px;
  border: none;
}

#phone::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
}
#phone:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}
#phone::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}
#phone:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
}

.intl-tel-input {
  color: #333;
}

#submit {
  background-color: #6a38ab;
  border-color: #fff;
  color: #fff;
  padding: 14px 39px;
}

#submit-error,
#invalid-error,
#success {
  display: none;
}


/***** Footer *****/

footer {
  background-color: #fff;
  color: #6a38ab;
}

.footer-content {
  padding-top: 18px;
}

.footer-copyright {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.footer-copyright a, .footer-copyright a:focus { color: #6a38ab; }
.footer-copyright a:hover { color: #6a38ab; border-bottom: 1px dotted #6a38ab; }

.footer-social {
  text-align: right;
}

.ultm {
  margin: 0;
}

.ultm-email-1,
.ultm-email-1:focus {
  background-color: #6a38ab;
}


/***** Background image *****/

#bg {
  position: fixed; 
  z-index: -1;
  top: 0; 
  left: 0; 
  
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}
